## **1. Importing Libraries**
Start by importing the necessary libraries.

In [ ]:
import pandas as pd

 ## **2. Loading Excel File**

Here, I have loaded the Excel file named "Sales" containing the data.

In [ ]:
file_path = '/content/Sales Data.xlsx'
excel_file = pd.ExcelFile(file_path)

## **3. Raw Sales Data**

Previewing the raw **Sales** sheet before cleaning.

In [ ]:
sales_data = pd.read_excel(file_path, sheet_name='Sales')
print("Sales Data (Before Cleaning):\n")
sales_data.head()

Sales Data (Before Cleaning):

,Unnamed: 0,Value ('000 HKD),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Volume (SU),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Avg Price per SU,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Avg Price per USD,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Period,Brand,V1,V2,V3,NaN,Brand,V1,V2,V3,NaN,Brand,V1,V2,V3,NaN,Brand,V1,V2,V3
1,2011-07-01 00:00:00,28518.3,12706.5,12196.9,3614.4,NaN,85935.6,36127.4,40971.6,8835.6,NaN,331.856646,351.713658,297.691572,409.072389,NaN,43.141364,45.722776,38.699904,53.179411
2,2011-08-01 00:00:00,31712.5,14190.5,13250.5,4271.6,NaN,95135.2,40373.7,44402.1,10359.4,NaN,333.341392,351.478809,298.42057,412.340483,NaN,43.334381,45.692245,38.794674,53.604263
3,2011-09-01 00:00:00,28436.8,12422.5,11946.7,4067.6,NaN,85814,36034.5,40029.2,9750.3,NaN,331.377165,344.73907,298.449632,417.176907,NaN,43.079031,44.816079,38.798452,54.232998
4,2011-10-01 00:00:00,29048.8,12652.5,12690.9,3705.5,NaN,88047.7,36697.8,42431.3,8918.6,NaN,329.921168,344.775436,299.092887,415.480008,NaN,42.889752,44.820807,38.882075,54.012401

## **4. Sales Data Cleaning**
Cleaning the **Sales** sheet by removing unnecessary rows and columns, renaming columns,
and ensuring the 'Period' column is in datetime format.

In [ ]:
sales_data_cleaned = sales_data.iloc[1:].reset_index(drop=True)
sales_data_cleaned.columns = ['Period', 'Value_Brand', 'V1', 'V2', 'V3',
                              'Unused', 'Volume_Brand', 'V1_Volume', 'V2_Volume', 'V3_Volume',
                              'Unused_2', 'Avg_Price_per_SU', 'V1_Avg_Price',
                              'V2_Avg_Price', 'V3_Avg_Price', 'Unused_3',
                              'Avg_Price_per_USD', 'V1_USD', 'V2_USD', 'V3_USD']
sales_data_cleaned['Period'] = pd.to_datetime(sales_data_cleaned['Period'], errors='coerce')
sales_data_cleaned = sales_data_cleaned.drop(columns=['Unused', 'Unused_2', 'Unused_3'])
print("Sales Data (After Cleaning):\n")
print(sales_data_cleaned.head().to_string(index=False))

Sales Data (After Cleaning):

    Period Value_Brand        V1        V2      V3 Volume_Brand V1_Volume V2_Volume V3_Volume Avg_Price_per_SU V1_Avg_Price V2_Avg_Price V3_Avg_Price Avg_Price_per_USD     V1_USD     V2_USD     V3_USD
2011-07-01     28518.3   12706.5   12196.9  3614.4      85935.6   36127.4   40971.6    8835.6       331.856646   351.713658   297.691572   409.072389         43.141364  45.722776  38.699904  53.179411
2011-08-01     31712.5   14190.5   13250.5  4271.6      95135.2   40373.7   44402.1   10359.4       333.341392   351.478809    298.42057   412.340483         43.334381  45.692245  38.794674  53.604263
2011-09-01     28436.8   12422.5   11946.7  4067.6        85814   36034.5   40029.2    9750.3       331.377165    344.73907   298.449632   417.176907         43.079031  44.816079  38.798452  54.232998
2011-10-01     29048.8   12652.5   12690.9  3705.5      88047.7   36697.8   42431.3    8918.6       329.921168   344.775436   299.092887   415.480008         42.889752  44.820807  38.882075  54.012401
2011-11-01    30463.54  13737.66  12723.97  4001.9     92028.93   39742.8     42395   9891.13       331.021343    345.66412   300.129025   404.594824         43.032775  44.936336  39.016773  52.597327

## **5. Raw Distribution Data**



Previewing the raw **Distribution** sheet before cleaning.

In [ ]:
distribution_data = pd.read_excel(file_path, sheet_name='Distribution')
print("Distribution Data (Before Cleaning):\n")
distribution_data.head()

Distribution Data (Before Cleaning):

,Unnamed: 0,WTD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,NUMD,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Period,Brand,V1,V2,V3,NaN,Brand,V1,V2,V3
1,2011-07-01 00:00:00,100,100,99,96,NaN,48,46,46,40
2,2011-08-01 00:00:00,100,99,99,96,NaN,48,46,46,40
3,2011-09-01 00:00:00,100,99,99,95,NaN,48,46,46,39
4,2011-10-01 00:00:00,99,99,99,94,NaN,48,46,46,38

## **6. Distribution Data Cleaning**

Next, cleaning the **Distribution** sheet by following similar steps.

In [ ]:
distribution_data_cleaned = distribution_data.iloc[1:].reset_index(drop=True)
distribution_data_cleaned.columns = ['Period', 'WTD_Brand', 'V1_WTD', 'V2_WTD', 'V3_WTD',
                                      'Unused', 'NUMD_Brand', 'V1_NUMD', 'V2_NUMD', 'V3_NUMD']
distribution_data_cleaned['Period'] = pd.to_datetime(distribution_data_cleaned['Period'], errors='coerce')
distribution_data_cleaned = distribution_data_cleaned.drop(columns=['Unused'])
print("Distribution Data (After Cleaning):\n")
print(distribution_data_cleaned.head().to_string(index=False))

Distribution Data (After Cleaning):

    Period WTD_Brand V1_WTD V2_WTD V3_WTD NUMD_Brand V1_NUMD V2_NUMD V3_NUMD
2011-07-01       100    100     99     96         48      46      46      40
2011-08-01       100     99     99     96         48      46      46      40
2011-09-01       100     99     99     95         48      46      46      39
2011-10-01        99     99     99     94         48      46      46      38
2011-11-01       100    100     99     93         48      46      45      39

## **7. Raw Shipment Data**

Previewing the raw **Shipment** sheet before cleaning.

In [ ]:
shipment_data = pd.read_excel(file_path, sheet_name='Shipment')
print("Shipment Data (Before Cleaning):\n")
shipment_data.head()

Shipment Data (Before Cleaning):

,Unnamed: 0,Shipment SU,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Volume (SU),Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Period,Brand,V1,V2,V3,NaN,Brand,V1,V2,V3
1,2011-07-01 00:00:00,111110.765,43869.0272,59022.5266,8219.2112,NaN,85935.6,36127.4,40971.6,8835.6
2,2011-08-01 00:00:00,98568.474,48970.128,40447.5286,9150.8174,NaN,95135.2,40373.7,44402.1,10359.4
3,2011-09-01 00:00:00,122461.0034,54010.9639,58820.3602,9629.6793,NaN,85814,36034.5,40029.2,9750.3
4,2011-10-01 00:00:00,134933.0212,60733.5058,63417.0106,10782.5048,NaN,88047.7,36697.8,42431.3,8918.6

## **8. Shipment Data Cleaning**

Cleaning the **Shipment** sheet similarly.

In [ ]:
shipment_data_cleaned = shipment_data.iloc[1:].reset_index(drop=True)
shipment_data_cleaned.columns = ['Period', 'Brand_Shipment', 'V1_Shipment', 'V2_Shipment',
                                  'V3_Shipment', 'Unused', 'Volume_Brand', 'V1_Volume',
                                  'V2_Volume', 'V3_Volume']
shipment_data_cleaned['Period'] = pd.to_datetime(shipment_data_cleaned['Period'], errors='coerce')
shipment_data_cleaned = shipment_data_cleaned.drop(columns=['Unused'])
print("Shipment Data (After Cleaning):\n")
print(shipment_data_cleaned.head().to_string(index=False))

Shipment Data (After Cleaning):

    Period Brand_Shipment V1_Shipment V2_Shipment V3_Shipment Volume_Brand V1_Volume V2_Volume V3_Volume
2011-07-01     111110.765  43869.0272  59022.5266   8219.2112      85935.6   36127.4   40971.6    8835.6
2011-08-01      98568.474   48970.128  40447.5286   9150.8174      95135.2   40373.7   44402.1   10359.4
2011-09-01    122461.0034  54010.9639  58820.3602   9629.6793        85814   36034.5   40029.2    9750.3
2011-10-01    134933.0212  60733.5058  63417.0106  10782.5048      88047.7   36697.8   42431.3    8918.6
2011-11-01    122066.2618  52525.5475  60432.8513    9107.863     92028.93   39742.8     42395   9891.13

In [ ]:
# Merging sales and distribution data
merged_data = pd.merge(sales_data_cleaned, distribution_data_cleaned, on='Period', how='outer')

# Merging the result with shipment data
final_merged_data = pd.merge(merged_data, shipment_data_cleaned, on='Period', how='outer')

print("Final Merged Data:\n")
print(final_merged_data.head().to_string(index=False))

Final Merged Data:

    Period Value_Brand        V1        V2      V3 Volume_Brand_x V1_Volume_x V2_Volume_x V3_Volume_x Avg_Price_per_SU V1_Avg_Price V2_Avg_Price V3_Avg_Price Avg_Price_per_USD     V1_USD     V2_USD     V3_USD WTD_Brand V1_WTD V2_WTD V3_WTD NUMD_Brand V1_NUMD V2_NUMD V3_NUMD Brand_Shipment V1_Shipment V2_Shipment V3_Shipment Volume_Brand_y V1_Volume_y V2_Volume_y V3_Volume_y
2011-07-01     28518.3   12706.5   12196.9  3614.4        85935.6     36127.4     40971.6      8835.6       331.856646   351.713658   297.691572   409.072389         43.141364  45.722776  38.699904  53.179411       100    100     99     96         48      46      46      40     111110.765  43869.0272  59022.5266   8219.2112        85935.6     36127.4     40971.6      8835.6
2011-08-01     31712.5   14190.5   13250.5  4271.6        95135.2     40373.7     44402.1     10359.4       333.341392   351.478809    298.42057   412.340483         43.334381  45.692245  38.794674  53.604263       100     99     99     96         48      46      46      40      98568.474   48970.128  40447.5286   9150.8174        95135.2     40373.7     44402.1     10359.4
2011-09-01     28436.8   12422.5   11946.7  4067.6          85814     36034.5     40029.2      9750.3       331.377165    344.73907   298.449632   417.176907         43.079031  44.816079  38.798452  54.232998       100     99     99     95         48      46      46      39    122461.0034  54010.9639  58820.3602   9629.6793          85814     36034.5     40029.2      9750.3
2011-10-01     29048.8   12652.5   12690.9  3705.5        88047.7     36697.8     42431.3      8918.6       329.921168   344.775436   299.092887   415.480008         42.889752  44.820807  38.882075  54.012401        99     99     99     94         48      46      46      38    134933.0212  60733.5058  63417.0106  10782.5048        88047.7     36697.8     42431.3      8918.6
2011-11-01    30463.54  13737.66  12723.97  4001.9       92028.93     39742.8       42395     9891.13       331.021343    345.66412   300.129025   404.594824         43.032775  44.936336  39.016773  52.597327       100    100     99     93         48      46      45      39    122066.2618  52525.5475  60432.8513    9107.863       92028.93     39742.8       42395     9891.13

In [ ]:
# Concatenate the three DataFrames along columns
combined_data = pd.concat([sales_data_cleaned, distribution_data_cleaned, shipment_data_cleaned], axis=1)

# Drop duplicate columns
combined_data = combined_data.loc[:, ~combined_data.columns.duplicated()]

print("Combined Data (After Merging Columns):\n")
print(combined_data.head().to_string(index=False))

Combined Data (After Merging Columns):

    Period Value_Brand        V1        V2      V3 Volume_Brand V1_Volume V2_Volume V3_Volume Avg_Price_per_SU V1_Avg_Price V2_Avg_Price V3_Avg_Price Avg_Price_per_USD     V1_USD     V2_USD     V3_USD WTD_Brand V1_WTD V2_WTD V3_WTD NUMD_Brand V1_NUMD V2_NUMD V3_NUMD Brand_Shipment V1_Shipment V2_Shipment V3_Shipment
2011-07-01     28518.3   12706.5   12196.9  3614.4      85935.6   36127.4   40971.6    8835.6       331.856646   351.713658   297.691572   409.072389         43.141364  45.722776  38.699904  53.179411       100    100     99     96         48      46      46      40     111110.765  43869.0272  59022.5266   8219.2112
2011-08-01     31712.5   14190.5   13250.5  4271.6      95135.2   40373.7   44402.1   10359.4       333.341392   351.478809    298.42057   412.340483         43.334381  45.692245  38.794674  53.604263       100     99     99     96         48      46      46      40      98568.474   48970.128  40447.5286   9150.8174
2011-09-01     28436.8   12422.5   11946.7  4067.6        85814   36034.5   40029.2    9750.3       331.377165    344.73907   298.449632   417.176907         43.079031  44.816079  38.798452  54.232998       100     99     99     95         48      46      46      39    122461.0034  54010.9639  58820.3602   9629.6793
2011-10-01     29048.8   12652.5   12690.9  3705.5      88047.7   36697.8   42431.3    8918.6       329.921168   344.775436   299.092887   415.480008         42.889752  44.820807  38.882075  54.012401        99     99     99     94         48      46      46      38    134933.0212  60733.5058  63417.0106  10782.5048
2011-11-01    30463.54  13737.66  12723.97  4001.9     92028.93   39742.8     42395   9891.13       331.021343    345.66412   300.129025   404.594824         43.032775  44.936336  39.016773  52.597327       100    100     99     93         48      46      45      39    122066.2618  52525.5475  60432.8513    9107.863